{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{  show.title }}{% endblock %}
<!--文章内容-->
{% block content %}
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <header class="article-header">
                <h1 class="article-title"><a href="{%  url 'blog:art' art_id %}">{{ show.title }}</a></h1>
                <div class="article-meta">
                    <span class="item article-meta-time">
                        <time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：{{ show.create_time|date:'Y-m-d H:i:s' }}"><i class="glyphicon glyphicon-time"></i> {{ show.create_time|date:"Y-m-d H:i:s" }}</time></span>
                    <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：{{ show.category }}"><i class="glyphicon glyphicon-list"></i>
                        <a href="program" title="">{{ show.category }}</a></span>
                    <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：{{ show.click_nums }}">
                        <i class="glyphicon glyphicon-eye-open"></i> {{ show.click_nums }}</span>
                    <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="作者：{{ show.name }}"><i class="glyphicon glyphicon-user"></i>{{ show.name }}</span>
                </div>
            </header>
            <article class="article-content">
                {{ show.content|safe }}
                <p class="article-copyright hidden-xs">未经允许不得转载：<a href="/">XJC博客</a> » <a href="art-{{ show.id }}.html">{{ show.title }}</a></p>
            </article>
            <div class="article-tags">标签：{% for tag in show.tagss.all %}<a href="{% url 'blog:index' %}?search={{ keyword }}&tag={{ t }}" rel="tag">{{ tag.name }}</a>{% endfor %}</div>
            <div class="relates">
                <div class="title">
                    <h3>相关推荐</h3>
                </div>
                <ul><!-- 随机选出8个文章进行推送 -->
                    {% for h in hot %}
                        <li><a href="{%  url 'blog:art' h.id %}">{{ h.title }}</a></li>
                    {% endfor %}</ul>
            </div>
        </div>
    </div>
{% include 'components/aside_right.html' %}
</section>
{% endblock %}
